/* @theme freshgreen */

@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #82be28;
}

section {
  background-image: none;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

ul ul {
  font-size: 0.9em;
}

/* title section */
section.title h1 { /* For title */
  color: #82be28;
  text-align: left;
}
section.title h2 { /* For Subtitle */
  color: #82be28;
  text-align: left;
}
section.title h3 { /* For Name */
  text-align: right;
}
section.title h4 {
  text-align: right;
}
section.title h5 {
  text-align: right;
}
section.title p {
  text-align: right;
}


/* chapter section */
section.chapter h1 {
  color: #82be28;
  text-align: center;
  justify-content: center;
}
section.chapter h2 {
  color: #82be28;
  text-align: center;
  justify-content: center;
}
section.chapter h3 {
  text-align: center;
  justify-content: center;
}
section.chapter h4 {
  text-align: center;
  justify-content: center;
}
section.chapter h5 {
  text-align: center;
  justify-content: center;
}
section.chapter p {
  text-align: center;
  justify-content: center;
}

/* all section */

header {
  background-color: #82be28;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}


/* Code block */
code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.7em;
}
